<div class="container-fluid dash_board_container">
    <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
            <ul class="side-bar-nav">
                <li data-attr="+">Categories
                    <ul class="side-bar-nav">
                    <li class="inner-nav" id="showCategories"> show all</li>
                    <li class="inner-nav" id="addCategories"> add new </li></ul>
                </li>

                <li data-attr="+">Sub categories
                    <ul class="side-bar-nav">
                    <li class="inner-nav" id="showSubCategories"> show all</li>
                    <li class="inner-nav" id="addSubCategories"> add new </li></ul>
                </li>

                <li data-attr="+">Products
                    <ul class="side-bar-nav">
                    <li class="inner-nav" id="showProducts"> show all</li>
                    <li class="inner-nav" id="addProducts"> add new </li></ul>
                </li>

                <li data-attr="+">Locations
                    <ul class="side-bar-nav">
                    <li class="inner-nav" id="showLocations"> show all</li>
                    <li class="inner-nav" id="addLocations"> add new </li></ul>
                </li>
            </ul>
            </nav>
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3" id="main">
        </main>
    </div>
</div>
<script>

    $('#showLocations').click(function (e) {
        fetch('/locations').then((res) => {
            res.text().then((val) => {
                $("#main").html(val);
            });
        })

    });
    $('#showProducts').click(function (e) {
        fetch('/products').then((res) => {
            res.text().then((val) => {
                $("#main").html(val);
            });
        })
    });

    $('#addLocations').click(function (e) {
        fetch('/locations/new').then((res) => {
            res.text().then((val) => {
                $("#main").html(val);
            });
        })

    });
    $('#addProducts').click(function (e) {
        fetch('/products/new').then((res) => {
            res.text().then((val) => {
                $("#main").html(val);
            });
        })
    });

    $('#addSubCategories').click(function (e) {
        fetch('/subCategories/new').then((res) => {
            res.text().then((val) => {
                $("#main").html(val);
            });
        })
    });

    $('#showSubCategories').click(function (e) {
        fetch('/subCategories').then((res) => {
            res.text().then((val) => {
                $("#main").html(val);
            });
        })
    });

    $('#addCategories').click(function (e) {
        fetch('/categories/new').then((res) => {
            res.text().then((val) => {
                $("#main").html(val);
            });
        })
    });

    $('#showCategories').click(function (e) {
        fetch('/categories').then((res) => {
            res.text().then((val) => {
                $("#main").html(val);
            });
        })
    });

    function handler(e) {
        var target = $( e.target );
        if ( target.is( " li" ) ) {
            target.children().toggle();

           target.attr("data-attr") === '+' ? target.attr("data-attr","-") : target.attr("data-attr","+");
        }
    }


    $( ".side-bar-nav" ).click( handler ).find( "ul" ).hide();

</script>