<main>
    <!----- carousel -->

    <div id="demo" class="carousel slide main-slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active carousel-img">
                <img src="images/dairy_milk.jpg" alt="dairy-milk" width="100%" >
            </div>
            <div class="carousel-item carousel-img">
                <img src="images/drinks.jpg" alt="drinks-image" width="100%">
            </div>
            <div class="carousel-item carousel-img">
                <img src="images/dove.jpg" alt="dove-image" width="100%">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>


    <!-- cards -->
    <h2 > Categories</h2>
    <table cellspacing="10">
        <tr>
            <td>
                <a href="#">
                    <div class="category">
                        <div class="category-img">
                            <img src="images/vegs.jpg" alt="fruits">
                        </div>
                        <div class="category-body-text">
                            <p class="category-heading">Fruits & vegetables</p>
                            <p class="category-description">Fruits & vegetables basket, Cut fruits, sprouts</p>
                        </div>
                        <div class="next_icon">
                            <a href="#">&#10095;</a>
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="category">
                        <div class="category-img">
                            <img src="images/grocery.jpg" alt="fruits">
                        </div>
                        <div class="category-body-text">
                            <p class="category-heading">Grocery & Staples</p>
                            <p class="category-description">Pulses, Atta $ Other Flours, Rice $ Other Grains. Dry Fruits etc</p>
                        </div>
                        <div class="next_icon">
                            <a href="#">&#10095;</a>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">
                    <div class="category">
                        <div class="category-img">
                            <img src="images/beverages.jpg" alt="fruits">
                        </div>
                        <div class="category-body-text">
                            <p class="category-heading">Beverages</p>
                            <p class="category-description">Soft Drinks, Juices $ Concentraters, Tea & Coffee</p>
                        </div>
                        <div class="next_icon">
                            <a href="#">&#10095;</a>
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="category">
                        <div class="category-img">
                            <img src="images/HHNeeds.jpg" alt="fruits">
                        </div>
                        <div class="category-body-text">
                            <p class="category-heading">HouseHold Needs</p>
                            <p class="category-description">Laundry, Detergent, Floor Cleaner, Soaps etc</p>
                        </div>
                        <div class="next_icon">
                            <a href="#">&#10095;</a>
                        </div>
                    </div>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="#">
                    <div class="category">
                        <div class="category-img">
                            <img src="images/snacks.jpg" alt="fruits">
                        </div>
                        <div class="category-body-text">
                            <p class="category-heading">Snacks & Biscuits</p>
                            <p class="category-description">Biscuits, Snacks, Namkeens & Chocolates</p>
                        </div>
                        <div class="next_icon">
                            <a href="#">&#10095;</a>
                        </div>
                    </div>
                </a>
            </td>
            <td>
                <a href="#">
                    <div class="category">
                        <div class="category-img">
                            <img src="images/sauce.jpg" alt="fruits">
                        </div>
                        <div class="category-body-text">
                            <p class="category-heading">Noodles, Sauces $ Jams</p>
                            <p class="category-description">Instant Foods, Noodles, Maggi</p>
                        </div>
                        <div class="next_icon">
                            <a href="#">&#10095;</a>
                        </div>
                    </div>
                </a>
            </td>
        </tr>

    </table>
</main>